<?xml version="1.0" encoding="utf-8" ?>
<!--
ignoreForAdmin: set this to true if you'd like to show ALL menu options for members of the Administrator group

useInMediaSection: set this to true if you want the rules to apply to Media items as well

Custom Menus Rules:

You can add as many rules as you like, each rule has the following properties:
  docTypeAlias - the doc type alias the rule applies to (case sensitive)
  nodeId - the node the rule applies to (use instead of docTypeAlias)
  clickAction - if you set an Angular Route URL here, will override the default click action for the node
  mentItems - a comma separated list of menu items (Case sensitive, see list below for common values)
  removeMenuItems - a comma separated list of menu items to remove (Case sensitive, see list below for common values)

This package should support any menu items that are installed in your application and applicable to contet items.
You should use the Alias of the menu actions, for reference, I have include the list of default content actions that come 
with Umbraco here:

assignDomain - assign host name
auditTrail - view audit trail
browse - browe node
copy - copy node
delete - delete node
emptyTrashcan - empty recycle bin
liveEdit - live editor link
move - move content
create - create new content
notify - notification link
protect - member authentication link
publish - publish page
refreshNode - reload nodes
rights - set admin user permissions list
rollback - rollback link
sendToTranslate - send to translation link
sort - sort documents
sendtopublish - send to publis
translate - translate link
unpublish - unpublish page
separator - menu divider

Example 1: disable click and only allow "refresh" menu item on "settings" doc type
<add docTypeAlias="settings" nodeId="" clickAction="/content" menuItems="refreshNode" />

Example 2: normal click action, only affect node id 1057 and show create, sort and publish, with a divider
<add docTypeAlias="" nodeId="1057" clickAction="" menuItems="create,sort,separator,refreshNode" />

Example 3: remove delete option from the "homePage" docType
<add docTypeAlias="homePage" nodeId="" clickAction="" removeMenuItems="delete" />
-->
<customMenus>
	<ignoreForAdmin>false</ignoreForAdmin>
	<useInMediaSection>false</useInMediaSection>
	<menuRules>
		<add docTypeAlias="settings" nodeId="" clickAction="/content" menuItems="refreshNode" />
		<add docTypeAlias="settingsHomepageBoxes" nodeId="" clickAction="/content" menuItems="create,sort,separator,refreshNode" />
		<add docTypeAlias="settingsHomepageBox" nodeId="" clickAction="" menuItems="delete,separator,publish" />
	</menuRules>
</customMenus>